.mainPage{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.mainPage ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.mainPage li {
    color: #61dafb;
    text-decoration: none;
    background-color: #212A34;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 30px;
    width: 100%;
    max-width: 300px;
    padding: 20px 15px ;
    list-style-type: none;
}
.mainPage a {
    color: inherit;
    text-decoration: none
}